# collections: Counter. namedtuple, OrderedDict, defaultdict, deque

In [2]:
from collections import Counter

In [12]:
string = "aaaaaabbbbbbbbccccccc"

In [21]:
my_counter = Counter(string) # we can use here a list or any other structure
print(my_counter)

Counter({'b': 8, 'c': 7, 'a': 6})

In [14]:
print(my_counter.items())

dict_items([('a', 6), ('b', 8), ('c', 7)])

In [15]:
my_counter.keys()

dict_keys(['a', 'b', 'c'])

In [16]:
my_counter.values()

dict_values([6, 8, 7])

In [17]:
my_counter.most_common(1)

[('b', 8)]

In [18]:
my_counter.most_common(2)

[('b', 8), ('c', 7)]

In [19]:
print(my_counter.most_common(1)[0])

('b', 8)

In [20]:
print(my_counter.most_common(1)[0][0])

b

In [22]:
my_counter.elements()

In [24]:
print(list(my_counter.elements()))

['a', 'a', 'a', 'a', 'a', 'a', 'b', 'b', 'b', 'b', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'c', 'c', 'c', 'c']

In [25]:
from collections import namedtuple

In [26]:
Point = namedtuple('Point', 'x,y') # this will create class Point with x and y fields

In [27]:
pt = Point(1,-4)

In [28]:
print(pt)

Point(x=1, y=-4)

In [30]:
print(pt.x, pt.y)

1 -4

In [31]:
from collections import OrderedDict

In [32]:
# ordered dictionary remember the order when their items were inserted

In [46]:
ordered_dict = OrderedDict()

In [47]:
ordered_dict["c"] = 3
ordered_dict["d"] = 4
ordered_dict["b"] = 2
ordered_dict["e"] = 5
ordered_dict["a"] = 1

In [48]:
print(ordered_dict)

OrderedDict([('c', 3), ('d', 4), ('b', 2), ('e', 5), ('a', 1)])

In [50]:
# with normal dictionary it also works since Python 3.7

In [51]:
from collections import defaultdict

In [52]:
d = defaultdict(int) #int here is a default type

In [54]:
d['a'] = 1
d['b'] = 2
print(d)

defaultdict(<class 'int'>, {'a': 1, 'b': 2})

In [55]:
print(d['a'])
print(d['b'])

1
2

In [62]:
print(d['c']) # c doesn't exist so it will return 0 which is default value of int (float -> 0.0)

0

In [63]:
d2 = defaultdict(list)

In [64]:
print(d2['c']) # c doesn't exist in d2 so it will print empty list because it is default value of a list

[]

In [67]:
from collections import deque

In [89]:
de = deque()

In [90]:
de.append(1)
de.append(2)
de.append(9)

In [91]:
print(de)

deque([1, 2, 9])

In [92]:
de.appendleft(7)
print(de)

deque([7, 1, 2, 9])

In [93]:
de.pop()
print(de)

deque([7, 1, 2])

In [94]:
de.popleft()
print(de)

deque([1, 2])

In [114]:
de.clear()
print(de)

deque([])

In [115]:
de.extend([4,5,234])
print(de)

deque([4, 5, 234])

In [116]:
de.extendleft([78,6,8]) # 8 will be first then 6 and 78
print(de)

deque([8, 6, 78, 4, 5, 234])

In [117]:
de.rotate(1) # it rotates all elements by 1 place to the right
print(de)

deque([234, 8, 6, 78, 4, 5])

In [118]:
de.rotate(-2) # it rotates all elements by 2 places to the left
print(de)

deque([6, 78, 4, 5, 234, 8])